{#include "base.html"}
{#title}
{pageTitle ?: '资源详情'}
{/title}

{#head}
{#if seoDescription}
<meta content="{seoDescription}" name="description"/>
{/if}
{#if seoKeywords}
<meta content="{seoKeywords}" name="keywords"/>
{/if}
{/head}

{#navPath}
~/windblog / links / {link.name}
{/navPath}

{#content}
{#include "blog/link-detail.content.html" /}
{/content}

{#sidebar}
<div class="space-y-8">
    {#include sidebar/stats.html /}
    {#include sidebar/recent_posts.html /}
    {#include sidebar/tags.html /}
</div>
{/sidebar}
{/include}
