<div !=null} blockId class="md-region-premium-card buy-post-placeholder {fullHide ? 'full-hide' : ''}" data-block-id="{blockId}"
     { {#if/if}>
<div class="premium-card-body">
    <div class="premium-icon">
        <svg fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <rect height="11" rx="2" ry="2" width="18" x="3" y="11"></rect>
            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
        </svg>
    </div>
    <div class="premium-text">
        <p class="premium-title">{title}</p>
        <p class="premium-desc">{desc}</p>
    </div>
    {#if showButton}
    <button !=null} class="btn-action-primary buy-post-btn" data-post-id="{postId}" postId { {#if
    /if}{#if price != null} data-price="{price}"{/if}{#if blockId != null} data-block-id="{blockId}"{/if}>
    <svg fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
        <rect height="11" rx="2" ry="2" width="18" x="3" y="11"></rect>
        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
    </svg>
    {buttonText}
    </button>
    {/if}
</div>
</div>
